@model ProjectBoard.Models.ApplicationUser
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Welcomepage";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><strong class="text-navy"> Welcome @Model.UserName </strong></h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role </th>
                            <th>Email</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Name</td>

                            @using (Html.BeginForm())
                            {

                                <td>
                                    @Model.UserName
                                </td>
                                <td>
                                    @Model.Roles
                                    @foreach (var r in ViewBag.currenUserRoles)
                                    {
                                        <span>r.Name</span>


                                    }

                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm">
                                        @*@Html.ActionLink("Detail", "ViewRoleUser", "Home", new { roleId = role.Id }, new { style = "color:white" })*@
                                    </button>
                                </td>
                            }
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-sm-8">
                <div class="title-action">
                    <a class="btn btn-primary btn-sm" href="/Home/ShowAllRoles">All Roles</a>
                </div>
            </div>
        </div>
    </div>
</div>

